.heading{
    font-size: 30px;
    font-style: italic;
    font-family: cursive;
    width: 850px;
    margin: 2px;
    box-shadow: 5px 5px 5px black;
    background-color:rgb(0, 0, 0);
}
.note{
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.copyright_footer{
    position: fixed;
    bottom: 0;
    line-height: 3;
    font-size: 18px;
    font-style: italic;
    width: 100%;
    color: black;
    background-color: rgba(128, 128, 128, 0.534);
}
canvas{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}